@import "mixins/transitions";
@import "colors";


////////////////////////////////////////////////////////////////////////////////// 
// 
// Table of Contents
// 
//////////////////////////////////////////////////////////////////////////////////
// 
// 1 General
// 2 Elements
// 3 Modules
// 4 States
// 5 Themes
// 
//////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////// 
// 
// Mixins
// 
//////////////////////////////////////////////////////////////////////////////////


@mixin clearfix {
	&:after {
	  content: ' ';
	  display: block;
	  clear: both;
	}
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


////////////////////////////////////////////////////////////////////////////////// 
// 
// General
// 
//////////////////////////////////////////////////////////////////////////////////

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.debug {
	border: 1px solid red;
}

.button {
	padding: 14px 12px;
	line-height: 32px;
	background: $red;
	color: white;
	text-decoration: none;

	&:hover {
		body.desktop & {
			background: lighten($red, 20%);
		}
	}

	&:active {
		background: lighten($red, 20%);
	}
}


////////////////////////////////////////////////////////////////////////////////// 
// 
// Elements
// 
//////////////////////////////////////////////////////////////////////////////////

.powerlist {
	position: relative;
	padding: 8px 8px 4px;
	@include clearfix;
	list-style-type: none;
	max-width: 480px;
	background: $lightGrey;
	border: 4px solid $medGrey;

	.item {
		float: left;
		display: inline;
		margin-bottom: 4px;
		margin-right: 4px;
		padding: 4px 12px;
		border: 4px solid $black;
		background: $lightGrey;
		cursor: pointer;
		@include unselectable;

		&:hover {
			body.desktop & {
				color: $red;
				border-color: $red;
			}
		}

		&.placeholder {
			float: none;
			position: absolute;
			top: 0;
			left: 0;
			opacity: .3;
			z-index: 1;
		}

		&.dragging {
			color: $red;
			background: yellow;
			border-color: $red;
			opacity: .5;
		}

		&.drag-over {
			opacity: .5;
		}
	}
}

.animate-on-transforms {
	@include transition(all, .4s);
}


////////////////////////////////////////////////////////////////////////////////// 
// 
// Modules
// 
//////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////// 
// 
// States
// 
//////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////// 
// 
// Themes
// 
//////////////////////////////////////////////////////////////////////////////////